<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    	<!--Don't move the meta tags above, they're v important! -->

    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title> BioBots Data App </title>
    <!-- Bootstrap -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      		<div class="container">
        		<div class="navbar-header">
          			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            			<span class="sr-only">Toggle navigation</span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
          			</button>
          			<a class="navbar-brand" href="#"> BioBots</a>
        		</div>
        		<div id="navbar" class="collapse navbar-collapse">
          			<ul class="nav navbar-nav">
            			<li class="active"><a href="/">Home</a></li>
            			<li><a href="/about">About</a></li>
          			</ul>
        		</div><!--/.nav-collapse -->
      		</div>
    </nav>

    <div class="starter-template">
        <h1>Welcome to BioBots Data Analysis Platform</h1>
        <p class="lead">Add Details here...<br> For questions regarding the 3D Printer, check out the BioBots website <a href="www.biobots.io">here</a></p>
      </div>

      <div class="container">

<!-- Important jQuery Bootstrap stuff -->
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="/bootstrap/dist/js/bootstrap.js"></script>

      <script type="text/javascript"></script>

  </body>
</html>